# Environment Configuration
.env
.env.*
!.env.example
.DS_Store
*.sw?

# Dependency directory
node_modules/
web/node_modules/
web/frontend/node_modules/

# Build output
dist/
web/frontend/dist/
build/
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Testing
coverage/

# Temporary files
*.tmp
*.temp
.cache

# Local development
.shopify/
.shopify.lock

# Server files
aapanel_website_config.conf

# Lockfiles
package-lock.json
web/package-lock.json
web/frontend/package-lock.json

# Deployment script (if using Docker)
deploy.sh

# macOS specific files
.DS_Store

# Common cache and temporary directories
/tmp/
/out/

# Operating system specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE and build system files
.project
.classpath
.settings
target/

# Miscellaneous files
*.pem # Private keys (ensure these are NOT committed)
